.fnSignature {
	background-color: #222;
	color:#FFF;
	padding: 1rem;

	.fnName{ color: #B026FF }
	.fnArgumentName { color: lightblue }
	.fnArgumentType { color: lightcyan }
	.fnReturnType { color: lightcyan}
}