.shapely-trigrid {
	display: grid;
	grid-template-columns: repeat(var(--per-row, 10), 1fr) 1fr;
	border-collapse: collapse;


	& > .shapely-trigrid-cell{
		margin: var(--tri-spacing) calc(var(--tri-spacing) * 2);
		grid-column-end: span 2;
		& > .shapely-shape{
			& > svg:first-of-type{
				transform: rotate(var(--tri-rotation));
			}
		}
		clip-path: polygon(0 0, 100% 0, 50% 100%);
		&.even-grid-item{
			clip-path: polygon(50% 0, 0 100%, 100% 100%);
		}

		&:hover{
			& > .shapely-shape > svg:first-of-type path{
				fill:#0F0
			}
		}
	}
}