.shapley-shape{
	position:relative;
	display:flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	& > svg:nth-of-type(1) {
		position: absolute;
		top: 0;
		left: 0;
		right:0;
		bottom:0;
		z-index: -1;
		filter: var(--shapley-filter, none) default;
		path {
			fill: var(--shapley-bg-color, none) default;
			stroke: var(--shapley-stroke-color, none) default;
			stroke-width: var(--shapley-stroke-width, 3) default;
			stroke-linejoin: var(--shapley-stroke-linejoin, none) default;
			stroke-linecap: var(--shapley-stroke-linecap, round) default;
		}
	}
}