.shapely-shape{
	--bg-color: transparent;
	--border-width: 0;
	--border-color: #000;
	position: relative;
	aspect-ratio: 1/1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	& > svg:first-of-type{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: var(--shadow);
		& > use {
			fill: var(--bg-color);
			stroke: var(--border-color);
			stroke-width: calc(var(--border-width) * 2);
			
		}
	}
}