.shapely-grid{
	color: #000;
	display: grid;
	column-gap: var(--column-gap, 0);
	row-gap: var(--row-gap, 0);
	.shapely-grid-cell-wrapper{
		box-sizing: border-box;
		width: 100%;
		grid-row-start: var(--row);
		grid-column-start: var(--column);
		grid-column-end: span var(--column-size);
		grid-row-end: span var(--row-size);
		clip-path: var(--clip-path);
		aspect-ratio: var(--aspect-ratio, 1/1);
		object-fit: contain;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		
		& > .shapely-grid-cell{
			margin: 0; /* Grid doesnt like margins */
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			text-align: center;
			position: relative;
			flex: 1;
			
			aspect-ratio: var(--aspect-ratio, 1/1);
			&:hover{
				--bg-color:#FF0;
			}

			& > svg:first-of-type{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
			}
		}
	}
}