/*
By making this more specific then the polygrid we can override a few things to reduce the js boiler plate.
*/
.shapely-poly-grid.triangle {
	--row-size: 10;
	grid-template-columns: repeat(var(--row-size), 1fr) 1fr;
	& > .shapely-poly-grid-cell {
		grid-column-end: span 2;
	}
	&.horizontal {
		grid-template-columns: repeat(var(--row-size), 1fr);
		& > .shapely-poly-grid-cell {
			grid-column-end: span 1;
			grid-row-end: span 2;
		}
	}
}