:root {
	--ts-doc-primary-bg: #FFF;
	--ts-doc-secondary-bg: #EEE;
	--ts-doc-primary-grey: #333;
	--ts-doc-secondary-grey: #888;
	
	--ts-doc-primary-blue: rgb(28,128,248);
	--ts-doc-primary-purple: #7B2CBF;
	--ts-doc-primary-green: #5CB85C;
	--ts-doc-primary-red: #FF0F0F;
	--ts-doc-primary-orange: #FF8800;
}

body{
	background-color: var(--ts-doc-primary-bg);
}

.declaration-unsupported{
	color: var(--ts-doc-secondary-grey);
}

.declaration-section{
	box-shadow: 2px 2px 4px #000;
	padding: 1rem;
	margin-bottom: 1rem;
}

.declaration-node{
	background-color: var(--ts-doc-secondary-bg);
}

.declaration-title{
	font-size: 1.15rem;
	border-bottom: 0.15rem solid var(--ts-doc-primary-grey);
}

.declaration-prim-type{
	color: var(--ts-doc-primary-orange);
}

.declaration-literal-type{
	color: var(--ts-doc-primary-red);
}

.declaration-title span {
	font-size: inherit;
}
.declaration-kind {
	color: var(--ts-doc-primary-purple);
}

.declaration-name {
	color: var(--ts-doc-primary-blue);
}