
path.stroked{
	--dash: 3500;
	--dur: 5s;
	stroke-dasharray: var(--dash);
	stroke-dashoffset: var(--dash);
	animation: stroke var(--dur) linear infinite forwards;
	&.lg{
		--dash:100000;
		--dur: 20s
	}
}

@keyframes stroke {
	0%, 5%{
		stroke-dashoffset: var(--dash);
	}
	45%,55%{
		stroke-dashoffset: 0;
	}
	100%,95%{
		stroke-dashoffset: var(--dash)
	}
}